{% extends 'main/baseadmin.html' %}
{% block content %}

<div class="card-head">
<body>
    <h1>Bahan Menu List</h1>
    <button class="btn-updprice" onclick="window.location.href='{% url 'add_ingredient' %}'">Tambah Bahan</button>
    <div class="table">
        <table border="1">
            <thead>
                <tr>
                    <th>Bahan Name</th>
                    <th>Price</th>
                    <th>Quantity (grams)</th>
                    <th>Menu</th>
                    <th>Size</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for bahan in all_bahanmenu %}
                    <tr>
                        <td>{{ bahan.name }}</td>
                        <td>Rp. {{ bahan.price }}</td>
                        <td>{{ bahan.qty }}</td>
                        <td>{{ bahan.menu.nama_menu_lengkap }}</td>
                        <td>{{ bahan.size.nama_size }}</td>
                        <td>
                            <button class="btn-edit" onclick="window.location.href='{% url 'edit_ingredient' bahan.id %}'">Edit</button>
                            <button class="btn-delete" onclick="window.location.href='{% url 'delete_ingredient' bahan.id %}'">Hapus</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No bahan menus available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</div>
{% endblock %}