{% extends 'main/basekasir.html' %}
{% block content %}
<main>
    <h2>Completed Orders</h2>
<ul>
    {% for order in completed_orders %}
    <li>
        Order ID: {{ order.kode_penjualan_faktur }}<br>
        Tanggal Penjualan: {{ order.tanggal_penjualan }}<br>
        Total Penjualan: {{ order.total_penjualan }}<br>
        Total Pembayaran : {{order.pembayaran }} <br>
        Kembalian : {{order.kembalian}} <br>

        <form method="post" action="{% url 'cancel_order' order.id %}">
            {% csrf_token %}
            <button type="submit">Cancel Order</button>
        </form>
        <form method="post" action="{% url 'delete_order' order.id %}">
            {% csrf_token %}
            <button type="submit">Delete Order</button>
        </form>
        <!-- Add more fields as needed -->
    </li>
    {% endfor %}
</ul>

<!-- Display Pending Orders -->
<h2>Pending Orders</h2>
<ul>
    {% for order in pending_orders %}
    <li>
        Nota Penjualan: {{ order.kode_penjualan_faktur }}<br>
        Tanggal Penjualan: {{ order.tanggal_penjualan }}<br>
        Total Penjualan: {{ order.total_penjualan }}<br>


        <!-- Form to change the data for the pending order -->
        <form method="post" action="{% url 'update_order' order.id %}">
            {% csrf_token %}
            <label for="pembayaran">Pembayaran:</label>
            <input type="number" id="pembayaran" name="pembayaran" value="{{ order.pembayaran }}">
            <!-- Add more fields for other data you want to change -->
            <button type="submit">Update Order</button>
        </form>
    </li>
    {% endfor %}
</ul>
</main>
{% endblock %}
