{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'card.css' %}">
    <title>Kasiran</title>
</head>

<body>
    <div class="sidebar">
        <!-- coba add user name di side bar-->
        <p>{{ user.username }}</p>
        {% comment %} <a href="{% url 'kasiran' %}" class=""><span>Offline Order</span></a> {% endcomment %}
        <a href="{% url 'pesanan' %}"class=""><span>Pesanan</span></a>
        {% comment %} <a href="{% url 'tabelKasir' %}" class=""><span>Table</span></a> {% endcomment %}
        <a href="{% url 'logout_view' %}">Logout >></a>
    </div>

    <div class="content">
        <div class="card">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
</html>