{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'cardmenu.css' %}">
    <title>Minuman</title>
</head>

<body>
    <div class="sidebar">
        <!-- coba add user name di side bar-->
        <p>{{ user.username }}</p>
        <a href="#" class="menu-link" data-menu-type="Alcohol"><span>Alcohol</span></a>
        <a href="#" class="menu-link" data-menu-type="Hot"><span>Hot</span></a>
        <a href="#" class="menu-link" data-menu-type="Cold"><span>Cold</span></a>
        <a href="{% url 'indexUser' %}">Back <<</a>
        <a href="{% url 'logout_view' %}">Logout >></a>
    </div>

    <div class="content">
        <div class="card">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var menuLinks = document.querySelectorAll('.menu-link');

        menuLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                var menuType = link.getAttribute('data-menu-type');

                // Redirect ke halaman indexMakanan dengan parameter kategori
                window.location.href = `/indexMinuman/?kategori=${menuType}`;
            });
        });
    });
</script>