{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'cardadmin.css' %}">
    <title>Admin</title>
</head>

<body>
    <div class="sidebar">
        <!-- coba add user name di side bar-->
        <label class="logo">
            <img class="logo-per" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS_vsrbvaLcY4mC1oYhP-mc3z8EOhdQU3HwoXnl8dVNREbxwD4t" >
            <p>{{ user.username }}</p>
        </label>

        <a href="{% url 'laporanAdmin' %}" class=""><span>Laporan</span></a>
        <a href="#" class=""><span>Edit Profile</span></a>
        <a href="{% url 'menu_view' %}" class=""><span> Menu</span></a>
        <a href="{% url 'bahan_menu_list' %}" class=""><span>Bahan</span></a>
        <a href="{% url 'logout_view' %}">Logout >></a>
    </div>

    <div class="content">
        <div class="card">
            {% block content %}
            {% endblock %}
        </div>
    </div>
       
</html>