{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <title>Admin</title>
</head>

<body>
    <div class="sidebar">
        <!-- coba add user name di side bar-->
        <h3 style="color: white;">{{ user.username }}</h3>
        <a href="#" class=""><span>Laporan</span></a>
        <a href="#" class=""><span>Edit Profile</span></a>
        <a href="{% url 'logout_view' %}">Logout >></a>
    </div>
</html>