{% extends 'main/baseadmin.html' %} {% block content %}

<head>
  <title>Edit Menu</title>
</head>
<body>
  <div class="form-container">
    <p>Edit Menu</p>
    <form method="post" enctype="multipart/form-data" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_kode_menu">Kode Menu:</label>
        {{ form.kode_menu }}
      </div>
      <div class="form-group">
        <label for="id_nama_menu_lengkap">Nama Menu Lengkap:</label>
        {{ form.nama_menu_lengkap }}
      </div>
      <div class="form-group">
        <label for="id_nama_menu_singkat">Nama Menu Singkat:</label>
        {{ form.nama_menu_singkat }}
      </div>
      <div class="form-group">
        <label for="id_jenis_menu">Jenis Menu:</label>
        {{ form.jenis_menu }}
      </div>
      <div class="form-group">
        <label for="id_gambar_menu">Gambar Menu:</label>
        {{ form.gambar_menu }}
      </div>
      <div class="form-group">
        <label for="id_keterangan_menu">Keterangan Menu:</label>
        {{ form.keterangan_menu }}
      </div>
      <div class="form-group">
        <label for="id_status_aktif_menu">Status Aktif Menu:</label>
        {{ form.status_aktif_menu }}
      </div>
      <button type="submit">Save Changes</button>
    </form>
  </div>
</body>

{% endblock %}

