{% extends 'main/baseadmin.html' %}
{% block content %}


<div class="card-head">
    <div class="crd-img">
        <div class="crd-food">
            <div class="Headermenu">
                Most Popular Food: <br>
                {% for menu in most_popular_food %}
                    {{ menu.nama_menu_lengkap }}
            </div>
            <div class="DescMenu">
                {{ menu.total_qty_sold }} sold
            </div>
            <div class="card-image-food">
                <img src="{{ menu.gambar_menu.url }}"/>
            </div>
            {% endfor %}
        </div>
    <div>
    
    <div class="crd-profitday">
        <div class="input-box">
            <form method="GET" action="{% url 'laporanAdmin' %}">
                <input type="date" id="day" name="day" value="{{ request.GET.day }}">
                <input type="submit" value="Filter">
            </form>
            {% if total_profit_today %}
                <label>Total Profit Rp. {{ total_profit_today.total_profit|default_if_none:"0" }},-</label>
            {% else %}
                <p>Tidak ada profit pada tanggal tersebut.</p>
            {% endif %}
        </div>
    </div>
</div>
<a href="{% url 'generate_all_summaries_pdf' %}">Print to PDF</a>
    <div class="table" id="monthly-profits">
        <table>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Total Profit</th>
                    <th>Aksi </th>
                </tr>
            </thead>

            <tbody>
                {% for profit in monthly_profits %}
                    <tr>
                        <td>{{ profit.month|date:"F Y" }}</td>
                        <td>{{ profit.total_profit }}</td>
                        <td>
                            <a href="{% url 'profit_summary_of_month' year=profit.month|date:'Y' month=profit.month|date:'m' %}">View Details</a>
                            <a href="{% url 'generate_monthly_pdf' year=profit.month|date:'Y' month=profit.month|date:'m' %}">print detail</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<script>

</script>
{% endblock %}
