{% extends 'main/baseadmin.html' %}
{% block content %}


<div class="card-head">
    <div class="crd-img">
        <div class="crd-food">
            <div class="Headermenu">
                Most Popular Food: <br>
                {% for menu in most_popular_food %}
                    {{ menu.nama_menu_lengkap }}
            </div>
            <div class="DescMenu">
                {{ menu.total_qty_sold }} sold
            </div>
            <div class="card-image-food">
                <img src="{{ menu.gambar_menu.url }}"/>
            </div>
            {% endfor %}
        </div>
    <div>
    
    <div class="crd-profitday">
        <div class="input-box">
            <form method="GET" action="{% url 'laporanAdmin' %}">
                <input type="date" id="day" name="day" value="{{ request.GET.day }}">
                <input type="submit" value="Filter">
            </form>
            {% if total_profit_today %}
                <label>Total Profit Rp. {{ total_profit_today.total_profit|default_if_none:"0" }},-</label>
            {% else %}
                <p>Tidak ada profit pada tanggal tersebut.</p>
            {% endif %}
        </div>
    </div>
</div>
    <select id="report" name="report" onchange="showTable()">
        <option value="monthly">Monthly</option>
        <option value="summary">Summary</option>
    </select>
    
    <div class="table" id="monthly-profits">
        <table>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Total Profit</th>
                    <th>Aksi </th>
                </tr>
            </thead>
            <tbody>
                {% for profit in monthly_profits %}
                    <tr>
                        <td>{{ profit.month|date:"F Y" }}</td>
                        <td>{{ profit.total_profit }}</td>
                        <td> <a href="{% url 'profit_summary_of_month' year=profit.month|date:'Y' month=profit.month|date:'m' %}">Aksi</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table" id="summary-table">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Menu</th>
                    <th>Kotor</th>
                    <th>Bersih</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                {% for summary in profit_summaries %}
                    <tr>
                        <td>{{ summary.created_at }}</td>
                        <td>{{ summary.menu.nama_menu_lengkap }}</td>
                        <td>{{ summary.pendapatan_kotor }}</td>
                        <td>{{ summary.pendapatan_bersih }}</td>
                        <td>{{ summary.profit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function showTable() {
        var reportSelect = document.getElementById("report");
        var monthlyTable = document.getElementById("monthly-profits");
        var summaryTable = document.getElementById("summary-table");

        if (reportSelect.value === "monthly") {
            monthlyTable.style.display = "block";
            summaryTable.style.display = "none";
        } else if (reportSelect.value === "summary") {
            monthlyTable.style.display = "none";
            summaryTable.style.display = "block";
        }
    }

    // Initialize the table display based on the default selection

    showTable();
</script>
{% endblock %}
