{% extends 'main/baseadmin.html' %}
{% block content %}
<div class="card-head">
<body>
    <h1>List Menu</h1>

    <button class="btn-tambah" onclick="window.location.href='{% url 'tambahMenu' %}'">Tambah Menu</button>
    <button class="btn-tambah" onclick="window.location.href='{% url 'tambahJenis' %}'">Tambah Jenis Menu</button>
    <button class="btn-tambah" onclick="window.location.href='{% url 'tambahKelompok' %}'">Tambah Kelompok Menu</button>
    <button class="btn-tambah" onclick="window.location.href='#'">Tambah Jenis Size</button>
    <div class="table">
        <table border="1">
    <thead>
        <tr>
            <th>Menu Name</th>
            <th>Jenis Menu</th>
            <th>Kelompok Menu</th>
            <th>Jenis Size</th>
            <th>Price</th>
            <th>Aksi </th>
        </tr>
    </thead>
    <tbody>
        {% for datamenu in all_datamenu %}
            <tr>
                <td>{{ datamenu.nama_menu_lengkap }}</td>
                <td>{{ datamenu.jenis_menu.nama_jenis }}</td>
                <td>{{ datamenu.jenis_menu.kelompok_menu.nama_kelompok }}</td>
                <td>
                    {% for harga_menu in datamenu.hargamenu_set.all %}
                        {{ harga_menu.size.nama_size }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for harga_menu in datamenu.hargamenu_set.all %}
                        Rp. {{ harga_menu.harga_menu }}<br>
                    {% endfor %}
                </td>
                <td>
                    <!-- Edit -->
                    <button class="btn-edit" onclick="window.location.href='{% url 'edit_menu' datamenu.id %}'">Edit</button>

                    <!-- Delete -->
                    <button class="btn-delete" onclick="window.location.href='{% url 'hapus_menu' datamenu.id %}'">Delete</button>

                    <!-- Edit Price -->
                    <button class="btn-updprice" onclick="window.location.href='{% url 'update_price' datamenu.id %}'">Edit Price</button>
                </td>
           
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No data menus available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</body>
</div>

{% endblock %}