{% extends 'main/baseadmin.html' %}
{% block content %}

<h1>Profit Summary for {{ profit_summary.0.created_at|date:"F Y" }}</h1>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Menu</th>
                <th>Kotor</th>
                <th>Bersih</th>
                <th>Profit</th>
            </tr>
        </thead>
        
        <tbody>
            {% for summary in profit_summary %}
                <tr>
                    <td>{{ summary.created_at }}</td>
                    <td>{{ summary.menu.nama_menu_lengkap }}</td>
                    <td>{{ summary.pendapatan_kotor }}</td>
                    <td>{{ summary.pendapatan_bersih }}</td>
                    <td>{{ summary.profit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}