.card {
    display: flex;
    margin-left: 150px;
    overflow: auto;
    max-height: 600px;
    width: 1200px;
    height: 500px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.content {
    margin-left: 90px;
    width: (100% - 250px);
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 20px;
    height: 86.4vh;
    transition: 0.5s;
}

.content .card .form-container {
    width: 1190px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 25%, rgb(255, 255, 255) 20%);
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content .card .form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.content .card .form-container p {
    position: absolute;
    top: 5%;
    left: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.content .card .form-container .inpdddut[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.content .card .form-container label {
    color: rgb(40, 42, 44);
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 15px;
}

.content .card .form-container .input {
    padding: 10px;
    height: 10px;
    border: none;
    background-color: rgb(224, 231, 236);
}

.content .card .form-container .input:focus {
    outline: none;
}

.content .card .form-container button {
    border: none;
    height: 35px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
}


/*Card Menu */
.card-menu {
  width: 190px;
  background: white;
    margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  object-fit: cover;
}
    
.card-image-menu img{
max-width: 100%;
max-height: 100%;
border-radius: 6px 6px 0 0;
object-fit: cover;
}

    
.card-image-menu:hover {
transform: scale(0.98);
}
    
    /* Style the category menu */
    .category-menu {
    position: relative; /* Required for positioning the dropdown */
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 10px 2px 0;
    cursor: pointer;
    }
    
    /* Style the dropdown menu */
    .dropdown-menu {
    display: none; /* Hide the dropdown by default */
    position: absolute;
    top: 100%; /* Position it below the category menu */
    left: 0;
    background-color: #fff; /* Background color of the dropdown */
    border: 1px solid #ccc; /* Border for the dropdown */
    list-style-type: none; /* Remove list bullet points */
    margin: 0;
    padding: 0;
    z-index: 1; /* Ensure the dropdown appears above other content */
    }
    
    /* Style list items in the dropdown */
    .dropdown-menu li {
    padding: 5px 10px;
    color: #333;
    }
    
    /* Show the dropdown when hovering over the category menu */
    .category-menu:hover .dropdown-menu {
    display: block;
    }
    
    
    .heading-menu {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
    }
    
    .heading-menu:hover {
    cursor: pointer;
    }
    
    .author-menu {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 3px;
    }
    
    .name-menu {
    font-weight: 600;
    }
    
    .name-menu:hover {
    cursor: pointer;
    }
    
    .quantity-input{
      margin-bottom: 2px;
      display: flex;
      align-items: center;
    }
    
    .quantity-button{
      content: attr(data-content);
      background-color: #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      width: 20px;
      color: white;
      transition: background-color 0.3s;
      cursor: pointer;
    }
    
    .short-input{
      padding: 0.25rem;
      border: 0;
      width: 50px;
    }
    
    .size-select{
      margin-bottom: 2px;
      border: 0;
      color: gray;
      font-weight: 400;
      font-size: 13px;
      padding-top: 3px;
    }
    
    /*add cart*/
    .add-to-cart {
      padding: 7px 12px;
      border: 1px solid #bbb;
      color: #222;
      font-weight: 600;
      margin-bottom: 12px;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.2);
      transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .add-to-cart:hover {
      background-color: #00fe0d;
      color: #ffffff;
      box-shadow: -20px 50px 50px rgba(0,0,0,0.2);
      border: none;
      padding: 7px 16px;
    }
    
    .add-to-cart:hover .hover-underline-animation:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    
    
    /* Style the cart items as horizontal elements with wrapping */
    #cart-items {
    display: flex;
    flex-wrap: inherit; /* Allow items to wrap to the next line */
    max-width: 100%; /* Ensure it doesn't overflow the parent container */
    
    }
    
    
    
    /* Style individual cart items */
    .cart-item {
    margin-right: 30px; /* Adjust this value for spacing between items */
    }
    
    .cart-menu-name {
      font-weight: 600;
      color: rgb(88, 87, 87);
    }
    
    .cart-menu-size {
      color: gray;
      font-weight: 400;
      font-size: 17px;
      padding-top: 3px;
    }
    
    .cart-menu-qty {
      color: gray;
      font-weight: 400;
      font-size: 17px;
      padding-top: 3px;
    }
    
    .remove-from-cart {
      margin-left: 30px;
      padding: 4px 7px;
      border: 1px solid #bbb;
      color: #222;
      font-weight: 600;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.2);
      transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .remove-from-cart:hover {
      background-color: #fe0000;
      color: #fff;
      box-shadow: -20px 50px 50px rgba(0,0,0,0.2);
      border: none;
      padding: 7px 10px;
    }
    
    .cart{
      display: flex; 
      margin-left: 150px;
      overflow: auto; 
      max-height: 500px;
      width: 970px;
      height: 210px;
    }

    .cekout{
      position: static;
      margin-left: 1150px;
      margin-top: -50px; 
      width: fit-content;
    }
    
    .total-cart{
      position: absolute;
      bottom: 400px;
      right: 200px;
    }
    
    .btn-checkout {
      width: 200px;
      height: 60px;
      color: #fff;
      background: #000;
      font-size: 17px;
      text-decoration: none;
      margin: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 0 #000;
      transition: 0.5s;
      position: relative ;
      bottom: 0px;
      right: 0px;
    }
    
    .btn-checkout:hover {
      box-shadow: 8px 10px 0 #000;
      background: transparent;
      border: 2px solid #000;
      color: #000;
      margin-top: 5px;
    }
    
    .btn-checkout span {
      margin-left: 10px;
      width: 0;
      overflow: hidden;
      transition: 0.4s;
    }
    
    .btn-checkout:hover span {
      width: 30px;
    }
    
    
    /* Style the modal container */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 110%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: auto;
    }
    
    /* Style the modal content */
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      border-radius: 10px;
      max-width: 600px;
      box-shadow: 0 3px 1px  rgba(0, 0, 0, 0.2);
    }
    
    /* Style the close button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .close:hover {
      color: black;
    }

    .cart-menu-name{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .cart-menu-size{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .cart-menu-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3px;
    }
  
    .cart-menu-info div {
        flex: 1;
    }
    
    .cart-menu-price-right {
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .cart-total-price{
      font-family: 'Comfortaa', sans-serif;
      font-weight: bold;
      font-size: x-large;
      margin-bottom: 13px;
    }
  
    n {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
     }
     
     n.learn-more {
      width: 12rem;
      height: auto;
     }
     
     n.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #282936;
      border-radius: 1.625rem;
     }
     
     n.learn-more .circle .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff;
     }
     
     n.learn-more .circle .icon.arrow {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      left: 0.625rem;
      width: 1.125rem;
      height: 0.125rem;
      background: none;
     }
     
     n.learn-more .circle .icon.arrow::before {
      position: absolute;
      content: "";
      top: -0.29rem;
      right: 0.0625rem;
      width: 0.625rem;
      height: 0.625rem;
      border-top: 0.125rem solid #fff;
      border-right: 0.125rem solid #fff;
      transform: rotate(45deg);
     }
     
     n.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
     }
     
     n:hover .circle {
      width: 100%;
     }
     
     n:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(1rem, 0);
     }
     
     n:hover .button-text {
      color: #fff;
     }