.card {
    display: flex;
    margin-left: 150px;
    overflow: auto;
    max-height: 700px;
    width: 1200px;
    height: 700px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.content {
    margin-left: 90px;
    width: (100% - 250px);
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 20px;
    height: 86.4vh;
    transition: 0.5s;
}

.content .card .form-container {
    width: 1190px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 25%, rgb(255, 255, 255) 20%);
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content .card .form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.content .card .form-container p {
    position: absolute;
    top: 5%;
    left: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.content .card .form-container .inpdddut[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.content .card .form-container label {
    color: rgb(40, 42, 44);
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 15px;
}

.content .card .form-container .input {
    padding: 10px;
    height: 10px;
    border: none;
    background-color: rgb(224, 231, 236);
}

.content .card .form-container .input:focus {
    outline: none;
}

.content .card .form-container button {
    border: none;
    height: 35px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
}

/*Scroll Bar*/
.cardini {
  width: 1125px;
  background: #dadada;
  padding: .4em;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  object-fit: cover;;
  }
  
  /* Style for the card title/header */
  .cardini-header {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* Style for the content that is initially visible */
  .cardini-content {
    max-height: 100px; /* Adjust the height to control initial visibility */
    overflow: hidden;
    transition: max-height 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(86, 86, 86);
  }
  
  /* Style for the "Show More" button */
  .show-more-button {
    cursor: pointer;
  }
  
  /* Style for the label (button text) */
  .show-more-label {
  color: #000000;
  line-height: 2;
  position: relative;
  padding-right: 4px;
  }
  
  .show-more-label:hover {
    text-decoration: underline;
  }

  .show-more-label::before {
    content: '';
    width: 6px;
    height: 6px;
    border-top: solid 2px #000000;
    border-right: solid 2px #000000;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%) rotate(45deg);
    transition: transform .4s;
  }
  
  .show-more-label:hover::before {
    transform: translateX(4px) translateY(-50%) rotate(45deg);
  }
  
  
  /* Style for the checkbox input to control visibility */
  .show-more-toggle {
    display: none;
  }
  
  /* Style for the content to be shown when the checkbox is checked */
.show-more-content {
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Adjust the transition properties as needed */
}

/* Adjust content max-height when the checkbox is checked */
.show-more-toggle:checked ~ .show-more-content {
  max-height: 900px; /* You can adjust the height as needed */
  transition: max-height 0.5s ease-in-out; /* Adjust the transition properties as needed */
}

.itemmenu{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.descmenu{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}

.price{
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Total{
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 5px;
}

.menu-items {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 
}

.item-details {
  flex: 1;
}

/* serch input */
.search {
  --input-line: #cccccc;
  --input-text-color: #808080;
  --input-text-hover-color: transparent;
  --input-border-color: #808080;
  --input-border-hover-color: #999999;
  --input-bg-color: #333333;
  --search-max-width: 150px;
  --search-min-width: 50px;
  --border-radius: 5px;
  --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
}

.search-box {
  max-width: var(--search-max-width);
  min-width: var(--search-min-width);
  height: 35px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  background: var(--input-bg-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: var(--transition-cubic-bezier);
}

.search-box:hover {
  border-color: var(--input-border-hover-color);
}

/*Section input*/
.input {
  margin-left: 15px;
  width: 100%;
  max-width: 200px;
  height: 20px;
  padding: 12px;
  border-radius: 6px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

