{% extends 'main/basemakanan.html' %}
{% load custom_filters %}
{% block content %}
<main>
    <div class="cart-menu-container">
        <table>
            <thead>
                Nomor Meja : {{ user.userprofile.data_meja.nomor_meja }}
                <tr>
                    <th>Menu</th>
                    <th>Ukuran</th>
                    <th>Harga</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.menu.nama_menu_lengkap }}</td>
                    <td>{{ cart_item.size.nama_size }}</td>
                    <td>{{ harga_tiap_menu|get_item:forloop.counter0 }}0</td>
                    <td>{{ cart_item.qty }}</td>
                    <td>{{ total_tiap_menu|get_item:forloop.counter0 }}0</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Total Harga: {{ total_amount }}</p>
    </div>
    <form method="POST">
        {% csrf_token %}
        <!-- Tambahkan input atau field lainnya yang diperlukan untuk proses pembayaran -->
        <input type="submit" value="Checkout">
        <a href="{% url 'index_makanan' %}">Back</a>
    </form>
    
</main>
{% endblock %}

<script>
    // Fungsi ini akan dipanggil ketika tombol "Checkout" ditekan
    function checkout() {
        // Lakukan permintaan POST ke server untuk melakukan checkout
        $.ajax({
            type: "POST",
            url: "/checkout/",  // Sesuaikan dengan URL checkout Anda
            data: {},
            success: function (data) {
                // Redirect pengguna ke halaman sukses atau lakukan tindakan lain yang sesuai
                window.location.href = "/checkout-success/"; // Ganti dengan URL halaman sukses checkout Anda
            },
            error: function (error) {
                alert("Terjadi kesalahan saat melakukan checkout.");
            }
        });
    }

    // Event listener untuk tombol "Checkout"
    $("#checkout-button").click(function () {
        checkout();
    });
</script>